.project-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-family: "YekanBakh", sans-serif;
  color: #333;
  line-height: 1.8;
}

.project-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.project-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.project-icon {
  margin-inline-end: 0.4rem;
  display: inline-block;
}

.project-text {
  margin-bottom: 1rem;
  text-align: justify;
  text-align: justify;
  text-justify: inter-word;
  font-family: "YekanBakh", sans-serif;
  word-spacing: 0;
  letter-spacing: 0;
  white-space: normal;
  word-break: break-word;
}

.project-section-title {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  border-right: 4px solid #888;
  padding-right: 0.5rem;
}

.project-specs {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
}

.project-specs li {
  /* margin-bottom: 0.5rem;
  font-size: 0.95rem;
  list-style: none; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-specs-icon {
  min-width: 1.5rem; /* عرض ثابت برای همه آیکون‌ها */
  text-align: center; /* آیکون وسط‌چین */
}

.project-specs {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: grid;
  row-gap: 0.5rem;
}

.project-description {
  margin-bottom: 10px;
}

.project-specs li {
  display: grid;
  grid-template-columns: 1.5rem 1fr; /* icon | label + value */
  align-items: center;
}

.icon {
  text-align: center;
  font-size: 1.2rem;
}

.label {
  font-weight: bold;
}

.text {
  /* label + value container */
}

.project-phase {
  margin-bottom: 2rem;
}

.phase-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.phase-items {
  list-style: none;
  padding: 0;
}

.phase-items li {
  margin-bottom: 0.5rem;
  position: relative;
  padding-right: 1.2rem;
}

.phase-items li::before {
  content: "✓";
  position: absolute;
  right: 0;
  color: #4caf50;
  font-weight: bold;
}

.project-gallery {
  margin-top: 2rem;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.gallery-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-list li {
  /* text-align: justify; */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .project-title {
    font-size: 1.6rem;
  }

  .project-subtitle {
    font-size: 1rem;
  }

  .project-section-title {
    font-size: 1.1rem;
  }

  .toggle-button {
    display: flex;
    justify-self: center;
    background: none;
    border: none;
    color: black;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    padding: 0.5rem 0 0;
    margin-bottom: 0.5rem;
    /* margin-top: -1rem; */
  }
}
