.projects-project {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.left-panel {
  width: 50%;
  padding: 2rem;
}

.right-panel {
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  transition: all 0.3s ease;
}

.right-panel::-webkit-scrollbar {
  width: 4px;
}

.right-panel::-webkit-scrollbar-track {
  background: transparent;
}

.right-panel::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.right-panel:hover::-webkit-scrollbar {
  width: 8px;
}

.right-panel:hover::-webkit-scrollbar-thumb {
  background-color: #999;
}

.right-image {
  cursor: pointer;
  height: 15rem;
  width: 25rem;
  object-fit: cover;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.06);
  transition: all 1s ease-in-out;
}

.right-image:hover {
  width: 26rem;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.close-button {
  /* background: linear-gradient(135deg, gray, darkgray); */
  border: none;
  color: black;
  /* padding: 0.5rem 0.7rem; */
  padding: 0.5rem 0.7rem;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  /* box-shadow: 0 4px 15px rgba(128, 128, 128, 0.653);
  transition: background 0.4s ease, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s ease; */
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.close-button:hover {
  background: rgba(168, 166, 166, 0.588);
  /* box-shadow: 0 4px 15px rgba(128, 128, 128, 0.653); */
}

.close-button:hover::before {
  left: 125%;
}
@media (max-width: 950px) {
  .projects-project {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  .left-panel {
    width: 90%;
    /* margin: auto; */
  }

  .left-panel p {
    text-align: justify;
  }

  .right-panel {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .right-panel div,
  .right-panel img {
    width: 100%;
  }

  .right-image {
    transition: none;
  }

  .right-image:hover {
    width: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
  }

  .right-panel:hover::-webkit-scrollbar {
    width: 0px;
  }
}
