.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(8px);
  direction: initial;
  overflow: hidden;
  animation: fadeIn 0.2s ease-in-out;
}

.modal {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  direction: initial;
}

.image {
  width: 90vw;
  height: 85vh;
  object-fit: contain;
  border-radius: 5px;
  transition: transform 0.4s ease-in-out;
}

.zoom {
  transform: scale(0.99);
}
.prev,
.next,
.close {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(128, 128, 128, 0.674);
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001;
  transition: all 0.5s ease-in-out;
}

.prev {
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.prev:hover,
.next:hover {
  box-shadow: inset 0px 0px 0px 20px rgba(240, 238, 238, 0.57);
}

.next {
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.close {
  top: 10px;
  left: 13px;
  background: rgba(128, 128, 128, 0.674);
  border: none;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.close:hover {
  transform: scale(1.2);
  box-shadow: inset 0px 0px 0px 20px rgba(75, 75, 75, 0.57);
}

.fadeIn {
  animation: fadeIn 0.4s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.98);
  }
}

.thumbnails {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  gap: 8px;
  margin-bottom: 20px;
  max-width: 90vw;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba(200, 200, 200, 0.7) transparent;
}

.thumbnails::-webkit-scrollbar {
  height: 6px;
}

.thumbnails::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.7);
  border-radius: 3px;
}

.thumbnail {
  width: 60px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  flex-shrink: 0;
}

.thumbnail:hover,
.activeThumbnail {
  opacity: 1;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  border: 2px solid white;
}

@media (max-width: 950px) {
  .thumbnails {
    margin-top: 10px;
    justify-content: flex-start;
  }
  .backdrop {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.8);
  }

  .image {
    height: 80vh;
    margin-top: 1rem;
  }

  .prev,
  .next {
    display: none;
  }

  .close {
    top: -25px;
    left: -10px;
  }
}
