.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(8px);
  direction: initial;

  animation: fadeIn 0.2s ease-in-out;
}

.modal {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  direction: initial;
}

.image {
  width: 90vw;
  height: 90vh;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.4s ease-in-out;
}

.zoom {
  transform: scale(0.99);
}

.prev,
.next,
.close {
  position: absolute;
  border-radius: 50%;
  padding: 0.3rem 0.9rem;
  background: rgba(128, 128, 128, 0.674);
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001;
  transition: all 0.5s ease-in-out;
}

.prev {
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.prev:hover,
.next:hover {
  box-shadow: inset 0px 0px 0px 20px rgba(240, 238, 238, 0.57);
}

.next {
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.close {
  top: 3px;
  left: 3px;
  padding: 0.3rem 0.7rem;
  background: none;
}
.close:hover {
  transform: scale(1.5);
}

.fadeIn {
  animation: fadeIn 0.4s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.98);
  }
}

@media (max-width: 768px) {
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
}
